<%= render "shared/header" %>

<div class="contents">
    <h2 class="title">編集</h2>
    <%= form_with model: @tweet, local: true do |f| %>
    <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :energy_id, '元気度' %>
      <%= f.collection_select(:energy_id, Energy.all, :id, :name, {}, {class:"form-control"}) %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :food_id, '食欲' %>
      <%= f.collection_select(:food_id, Food.all, :id, :name, {}, {class:"form-control"}) %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :toilet_id, 'トイレ回数' %>
      <%= f.collection_select(:toilet_id, Toilet.all, :id, :name, {}, {class:"form-control"}) %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :poop_status_id, '便の状態' %>
      <%= f.collection_select(:poop_status_id, PoopStatus.all, :id, :name, {}, {class:"form-control"}) %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :exercise_id, '運動量' %>
      <%= f.collection_select(:exercise_id, Exercise.all, :id, :name, {}, {class:"form-control"}) %>
    </div>
  </div>
    <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :sleep_id, '睡眠量' %>
      <%= f.collection_select(:sleep_id, Sleep.all, :id, :name, {}, {class:"form-control"}) %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :different_id, 'いつもと違うこと' %>
      <%= f.collection_select(:different_id, Different.all, :id, :name, {}, {class:"form-control"}) %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "変更する" %>
  </div>
  <% end %>

</div>