<%= render "shared/header" %>

<div class="body">
  <h1>RECORD</h1>
  <li class="new"><%= link_to '記録する', new_tweet_path, class: "tweet" %></li>
  <%= month_calendar events: @tweets do |date, tweets| %>
    <%= date.day %>
    <% tweets.each do |tweet| %>
      <div>
      <%= link_to '詳細', tweet_path(tweet.id), class: "bold" %>
      </div>
    <% end %>
  <% end %>
</div>
