<div class="header">
  <%= link_to 'Animal Health Care', root_path, class: "h1" %>
  <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@300&display=swap" rel="stylesheet">
  <div class="nav" >
    <% if user_signed_in? %>
      <li class="li"><%= link_to current_user.pets_name, "#", class: "user-nickname" %></li>
      <li class="li"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <li class="li"><%= link_to '記録する', new_tweet_path, class: "tweet" %></li>
    <% else %>
      <li class="li"><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li class="li"><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    <% end %>
  </div>
</div>

<div class="contents">
  <h2 class="title">愛ペットの体調情報</h2>
  <%= form_with model: @tweet, local: true do |f| %>
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :energy_id, '元気度' %>
      <%= f.select :energy_id, {'良い': 1, '悪い': 2}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :food_id, '食欲' %>
      <%= f.select :food_id, {'良い': 1, '悪い': 2}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :toilet_id, 'トイレ回数' %>
      <%= f.select :toilet_id, {'多い': 1, '少ない': 2}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :poop_status_id, '便の状態' %>
      <%= f.select :poop_status_id, {'良い': 1, '悪い': 2}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :exercise_id, '運動量' %>
      <%= f.select :exercise_id, {'多い': 1, '少ない': 2}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
    </div>
  </div>
    <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :sleep_id, '睡眠量' %>
      <%= f.select :sleep_id, {'多い': 1, '少ない': 2}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
    </div>
    <div class='input-name-wrap'>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :different_id, 'いつもと違うこと' %>
      <%= f.select :different_id, {'ない': 1, 'ある': 2}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "記録する" %>
  </div>
  <% end %>

</div>