<%= render "shared/header" %>

<div class="contents">
  <h1 class="title">愛ペットの体調情報</h1>

  <%# 質問と回答 %>
  <%= form_with model: @tweet, local: true do |f| %>
  <div class="form-group">
    <div class='form-time'>
      <%= f.label :start_time, '日時' %>
      <%= f.datetime_select(:start_time, class:"form-control") %>
      <p class="comment">※記録したい日時を指定してください</p>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :energy_id, '元気度' %>
      <%= f.collection_select(:energy_id, Energy.all, :id, :name, {}, {class:"form-control"}) %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :food_id, '食欲度' %>
      <%= f.collection_select(:food_id, Food.all, :id, :name, {}, {class:"form-control"}) %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :toilet_id, 'トイレ回数' %>
      <%= f.collection_select(:toilet_id, Toilet.all, :id, :name, {}, {class:"form-control"}) %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :poop_status_id, '便の状態' %>
      <%= f.collection_select(:poop_status_id, PoopStatus.all, :id, :name, {}, {class:"form-control"}) %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :exercise_id, '運動量' %>
      <%= f.collection_select(:exercise_id, Exercise.all, :id, :name, {}, {class:"form-control"}) %>
    </div>
  </div>
    <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :sleep_id, '睡眠量' %>
      <%= f.collection_select(:sleep_id, Sleep.all, :id, :name, {}, {class:"form-control"}) %>
    </div>
    <div class='input-name-wrap'>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :different_id, 'いつもと違うこと' %>
      <%= f.collection_select(:different_id, Different.all, :id, :name, {}, {class:"form-control"}) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.text_area :memo, class:"memo", id:"memo", placeholder:"メモ欄：いつもより軟便／長時間の散歩etc..." %>
  </div>
  <%# /質問と回答 %>

  <%# 画像挿入 %>
  <div class="form-group">
    <div class="weight-bold-text">
      画像 クリックしてファイルをアップロード
    </div>
    <div class="click-upload">
      <%= f.file_field :image, id:"item-image" %>
    </div>
  </div>
  <%# /画像挿入 %>

  <div class="actions">
    <%= f.submit "記録する" %>
  </div>
  <% end %>

</div>