<div class="header">
  <%= link_to 'Animal Health Care', root_path, class: "h1" %>
  <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@300&display=swap" rel="stylesheet">
  <div class="nav" >
    <% if user_signed_in? %>
      <li class="li"><%= link_to current_user.pets_name, "#", class: "user-nickname" %></li>
      <li class="li"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <li class="li"><%= link_to '記録する', new_tweet_path, class: "tweet" %></li>
    <% else %>
      <li class="li"><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li class="li"><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    <% end %>
  </div>
</div>

<div class="contents">
  <h2 class="title">愛ペットの体調情報</h2>
  <%= form_with model: @tweet, local: true do |f| %>
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :energy_id, '元気度' %>
      <%= f.collection_select(:energy_id, Energy.all, :id, :name, {}, {class:"form-control"}) %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :food_id, '食欲度' %>
      <%= f.collection_select(:food_id, Food.all, :id, :name, {}, {class:"form-control"}) %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :toilet_id, 'トイレ回数' %>
      <%= f.collection_select(:toilet_id, Toilet.all, :id, :name, {}, {class:"form-control"}) %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :poop_status_id, '便の状態' %>
      <%= f.collection_select(:poop_status_id, PoopStatus.all, :id, :name, {}, {class:"form-control"}) %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :exercise_id, '運動量' %>
      <%= f.collection_select(:exercise_id, Exercise.all, :id, :name, {}, {class:"form-control"}) %>
    </div>
  </div>
    <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :sleep_id, '睡眠量' %>
      <%= f.collection_select(:sleep_id, Sleep.all, :id, :name, {}, {class:"form-control"}) %>
    </div>
    <div class='input-name-wrap'>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= f.label :different_id, 'いつもと違うこと' %>
      <%= f.collection_select(:different_id, Different.all, :id, :name, {}, {class:"form-control"}) %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "記録する" %>
  </div>
  <% end %>

</div>