<div class="header">
  <%= link_to 'Animal Health Care', root_path, class: "h1" %>
  <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@300&display=swap" rel="stylesheet">
  <div class="nav" >
    <% if user_signed_in? %>
      <li class="li"><%= link_to current_user.pets_name, "#", class: "user-nickname" %></li>
      <li class="li"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <li class="li"><%= link_to '記録する', new_tweet_path, class: "tweet" %></li>
    <% else %>
      <li class="li"><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li class="li"><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    <% end %>
  </div>
</div>

<div class="body">
  <div class="contents">
  <h1>詳細</h1>
    <p class="time"><%= l @tweet.start_time, format: :short %></p>
    <div class="link">
    <% if user_signed_in? %>
      <%= link_to '編集', edit_tweet_path(@tweet.id), method: :get, class: "edit" %>
      <%= link_to '削除', tweet_path(@tweet.id), method: :delete, class: "delete" %>
    <% end %>
    </div>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-tweet">元気度</th>
          <td class="detail-value"><%= @tweet.energy.name %></td>
        </tr>
        <tr>
          <th class="detail-tweet">食欲度</th>
          <td class="detail-value"><%= @tweet.food.name %></td>
        </tr>
        <tr>
          <th class="detail-tweet">トイレ回数</th>
          <td class="detail-value"><%= @tweet.toilet.name %></td>
        </tr>
        <tr>
          <th class="detail-tweet">便の状態</th>
          <td class="detail-value"><%= @tweet.poop_status.name %></td>
        </tr>
        <tr>
          <th class="detail-tweet">運動量</th>
          <td class="detail-value"><%= @tweet.exercise.name %></td>
        </tr>
        <tr>
          <th class="detail-tweet">睡眠量</th>
          <td class="detail-value"><%= @tweet.sleep.name %></td>
        </tr>
        <tr>
          <th class="detail-tweet">普段と違う点</th>
          <td class="detail-value"><%= @tweet.different.name %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>