<header class='header'>
  <div class="top-page">
    <%= link_to 'Animal Health Care', root_path, class: "h1" %>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@300&display=swap" rel="stylesheet">
  </div>
  <div class="nav" >
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.pets_name, edit_user_registration_path, class: "pets-name" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li class><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li class><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>
